* {
  box-sizing: border-box;
  font-family: serif;
}

body {
  margin: 0 auto;
}

nav {
  background: lightblue;
  overflow: auto;
  height: 3rem;
  margin: 0 0 1rem 0;
  width: 100%;
  z-index: 1;
  position: fixed;
}

.nav_title {
  color: white;
  float: left;
  padding-left: 5rem;
}

.nav_bar {
  color: white;
  float: right;
  padding-right: 0;
  width: 22rem;
}

.nav_bar a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}

.main {
  margin: 0 auto;
  max-width: 65rem;
  overflow: auto;
  padding-top: 4rem;
}

.individual_box {
  width: calc(100% / 2 - 2rem - 2rem);
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
  padding: 1rem;
  margin: 2rem;
  position: relative;
  float: left;
}

.top {
  background: yellow;
  margin: -1rem;
  margin-bottom: 1rem;
  text-align: left;
  position: relative;
}

.btn {
  display: block;
  margin: 0;
  background: lightblue;
  border: 0;
  padding: 1rem;
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%, 50%);
}

.title {
  padding-left: 3rem;
  display: inline-block;
  align: left;
}

img {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin-left: : -1rem;
  float: left;
  position: absolute;
  right: 100%;
  transform: translate(50%, 0);
}
