* {
  box-sizing: border-box;
  /*padding: 1rem;
  border: 0.5rem white solid;
  margin: 0.5rem;*/
}

body {
  margin: 0;
}

nav {
  background: lightblue;
  overflow: auto;
  height: 3rem;
  margin: 0 0 0 0;
}

.nav_title {
  color: white;
  float: left;
  padding-left: 5rem;
}

.nav_bar {
  color: white;
  float: right;
  padding-right: 5rem;
}

.main {
  /*margin: 0 auto;*/
  overflow: auto;
}

.individual_box {
  overflow: auto;
  width: calc(100%/2 - 1rem - 1rem);
  border: 0.2rem solid red;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0 0 0 0.4);
  padding: 1rem;
  margin: 3rem 1rem 1rem 2rem;
}

.top {
  background: yellow;
  margin: -1rem;
  margin-bottom: 1rem;
  overflow: auto;
  text-align: center;
}

.btn {
  display: block;
  margin: 0;
  background: lightblue;
  align-self: center;

}


.title{


  display: inline-block;
  align: left;
}
img {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin-left: : -1rem;
  float: left;
}
